.c-band {
  width: 100%;

  &--md {
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
  }

  &--lg {
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
  }

  &--sm {
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
  }
}
