.c-heading__title {
  font-size: var(--font-size-xxl);
  margin-bottom: var(--spacing-xs);
  line-height: 1;
  letter-spacing: -1px;
}

.c-heading__subtitle {
  margin-bottom: var(--spacing-md);
  text-transform: none;
  font-size: var(--font-size-xl);
}
