
.t-lightgray {
  color: var(--theme-black);
  background-color: var(--theme-lightgray);
}

.t-gray {
  color: var(--theme-black);
  background-color: var(--theme-gray);
}

.t-black {
  color: var(--theme-white);
  background-color: var(--theme-black);
}
