---
layout: layouts/home.njk
tags:
  - nav
navtitle: Blog (In Progress)
permalink: /posts/
templateClass: o-wrapper
---

<h1>Blog Posts</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}